body{
   text-align: center;
   background-color: black;
}
.tw{
    color: white;
}
.fr{
    float: right;
}
.cb{
    clear: both;
}
.w_7{
    margin: 0 auto;
    width: 49%;
}
.bg_a{
    background-color: rgb(244, 249, 174);
}
#lista{
    padding-top: 10px;
}
.pj{
    border-color: white;
}